

#myDropdown, #myDropdown2, #myDropdown3, #myDropdown4{
	animation-duration: 1s;
	width: 260px;
	right: 0;
	/* margin-top: 4px; */
}


.dropdown-menu1>li.user-header img {
    z-index: 5;
    height: 70px;
    width: 70px;
    border: 3px solid transparent;
    border-color: rgba(255, 255, 255, .2);
}

.align-self-center  h4 small {
	font-size: 60% !important;
    color: #fff !important;
	font-weight: 400;
    line-height: 1;
    
}

.dropdown-menu1>li.user-header h4{
	color: #fff;
}

.dropdown-menu1>li.user-body a{
	color: #400040 !important;
}
.dropdown-menu1>li.user-body a:hover{
	color: rgb(34, 16, 194) !important;
}

.btn-rounded {
    border-radius: 60px;
        padding: 0.5em 2em !important;
}

.dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #d1dadc;
}

.day{
	float: right  !important;
}

.show1 , .show2, .show3{
    display: block !important;
}

@keyframes pulse {
	from,
	20%,
	40%,
	60%,
	80%,
	to {
	  -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
  
	0% {
	  opacity: 0;
	  -webkit-transform: scale3d(0.3, 0.3, 0.3);
	  transform: scale3d(0.3, 0.3, 0.3);
	}
  
	20% {
	  -webkit-transform: scale3d(1.1, 1.1, 1.1);
	  transform: scale3d(1.1, 1.1, 1.1);
	}
  
	40% {
	  -webkit-transform: scale3d(0.9, 0.9, 0.9);
	  transform: scale3d(0.9, 0.9, 0.9);
	}
  
	60% {
	  opacity: 1;
	  -webkit-transform: scale3d(1.03, 1.03, 1.03);
	  transform: scale3d(1.03, 1.03, 1.03);
	}
  
	80% {
	  -webkit-transform: scale3d(0.97, 0.97, 0.97);
	  transform: scale3d(0.97, 0.97, 0.97);
	}
  
	to {
	  opacity: 1;
	  -webkit-transform: scale3d(1, 1, 1);
	  transform: scale3d(1, 1, 1);
	}
  }

@keyframes a {
	
    from {
-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
-webkit-animation-timing-function: ease-in;
animation-timing-function: ease-in;
opacity: 0;
}

40% {
-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
-webkit-animation-timing-function: ease-in;
animation-timing-function: ease-in;
}

60% {
-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
opacity: 1;
}

80% {
-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
}

to {
-webkit-transform: perspective(400px);
transform: perspective(400px);
}
}


#myDropdown{
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-name: a;
	animation-name: a;
 
  }

  #myDropdown3, #myDropdown2,#myDropdown4{
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-name: pulse;
	animation-name: pulse;
 
  }


  .dropdown-menu1,.dropdown-menubell,.dropdown-menuMail ,.dropdown-menuDay{
	position: absolute;
	background: rgba(233, 238, 238, 1);
	display: none;
	
}

.p11{
	text-align: center;
}

.mess{
	color: #87deff;
}

.hEmail{
	background: #f5f6f7 !important;
	padding-left: 3%;
	padding-top: 3%;

}


.mt-0 {
	margin-top: 10% !important;
	margin-left: 4% !important;
}

h4 {
	line-height: 22px;
	font-size: 18px;
}


.dropdown-menuMail>li .menu>li>a, .navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a, .navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a {
	display: block;
	white-space: nowrap;
	border-bottom: 1px solid #f4f4f4;
}

.pull-left>img {
	margin: auto 10px auto auto;
	width: 40px;
	height: 40px;
}

.mail-contnet>span {
	margin: 5px 0 0;
	font-size: 10px;
	color: #888;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: list-item;
}

.mail-contnet>h4>small {
	color: #67757c;
	font-size: 10px;
	position: absolute;
	padding-top: 2%;
	padding-left: 3%;
}

.mail-contnet>h4{
	color: #400040 !important;

}



.sm-scrol>li{
	background: #fff;
	border-bottom: 1px solid #d1dadc;
}

#myDropdown3 .footer, #myDropdown2 .footer {
	padding: 0em 0;
	background: #e9eeee;
	margin: 0;

}

#myDropdown3 .footer a, #myDropdown2 .footer a{
	color: #400040 !important;

}