@charset "utf-8";
.weather img{
	width: 140px;
	height: 140px;
	border-radius: 50%;
	margin-top: 15px;
	margin-bottom: 15px;


}
body{
	font-family: Arial;
}
.QuanTri{
	background: #f2f3f8;
	/* height: 665px; */
	margin-top: 1%;
	min-height: 500px;
	width: 24%;
	box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.2);
	/* margin-right: 2px; */
	}
.QuanTri h3{
	color: white;
	background-color: #343a4e;
	text-align: center;
    font-size: 22px;
    padding: 0 10px;
    line-height: 60px;
    height: 60px;
    margin-bottom: 3%;
	margin-left: 3	%;
	margin-top: 6%;
	margin-right: 3%
	
}
.desc {
    border-bottom: 1px solid #eaeaea;
    display: inline-block;
    padding: 15px 0;
    width: 100%;
}
.details {
    /* width: 170px; */
    float: left;
}
.pn {
    height: 270px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

.heardList h5 {
	padding: 10px;
	margin-left: 15px;
	background: #343a4e;
	color: aliceblue;
	width: 228.46px;
	height: 35px;
	font-size: 13px;
}
.heardList_1 {
	padding: 10px;
	background: #343a4e;
	color: aliceblue;
	width: 114.23px;
	height: 35px;
	font-size: 13px;
}

.wheather h6{
	text-align: left; 
	
}
.wheather h4{
	text-align: left; 
	
}
.wheather h5{
	text-align: left; 
	
}

.hoverList:hover{
	box-shadow: 0 2px 1px rgba(0, 0, 0, 10);
}
.details muted{
	font-size: 14px
	
}
.desc:hover{
	background: #B9B9B9;
	}

	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
		position:unset !important;
	}

